*{margin: 0; padding: 0; box-sizing: border-box;}
body{background: #222; color: #fff; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

/*■■■■■■■■■■■■■■■■■ Container */
.container{
  width: 650px; margin: 0 auto;
}

/*■■■■■■■■■■■■■■■■■ Box */
.box{
  display: flex; border: 1px solid rgba(#fff, 0.2); padding: 10px; text-align: center; margin-top: 20px;

  .stars{
    display: grid; grid-template-columns: repeat(3, 1fr); flex: 1; grid-gap :10px; margin-right: 10px;
  }

  .nums{
    display: grid; grid-template-columns: repeat(3, 1fr); flex: 1; grid-gap: 10px;
  }
}

/*■■■■■■■■■■■■■■■■■ Stars */
.star{
  
  &:after{content: "\2605"; font-size: 55px; line-height: 60px;}
}

/*■■■■■■■■■■■■■■■■■ Numbers */
.num{
  background: #345; display: flex; justify-content: center; align-items: center; border-radius: 5px; font-size: 1.5rem; cursor: pointer;
}

/*■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■  */

